name: Browser extension builds
on: [push, pull_request]

jobs:
  browser:
    name: Browser extension builds
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build moonlight
        env:
          NODE_ENV: production
        run: pnpm run build
      - name: Build browser extensions
        env:
          NODE_ENV: production
        run: pnpm run browser

      - name: Upload MV3
        uses: actions/upload-artifact@v4
        with:
          name: browser
          path: ./dist/browser

      - name: Upload MV2
        uses: actions/upload-artifact@v4
        with:
          name: browser-mv2
          path: ./dist/browser-mv2
